@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.page__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 88px;
}
