@import '@utilities/variables';
@import '@utilities/media';

@mixin link_fb {
	position: relative;

	&::before {
		content: url('icons/fb.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('icons/fb_mob.svg');
			left: -25px;
		}
	}
}

.link_fb {
	@include link_fb;
}
