@import 'src/scss/blocks/paragraph/_size/paragraph_size_sm';
@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

@mixin button_small {
    @include paragraph_size_sm;
    padding: 5px 20px;
	background-color: $color-white;
	color: $color-black;
    border-radius: 10px;
    border: 2px solid $color-black;

    &:hover {
        background: $color-blue-300;
        color: $color-white;
    }

    &:active {
        background: $color-blue-100;
        color: $color-black;
        border-color: $color-blue-100;
    }

    @include media-mobile {
        padding: 5px 20px;
    }
}

.button_small {
    @include button_small;
}
