@import '@utilities/variables';
@import '@utilities/media';
@import '@utilities/mixins';

.checkbox__input {
	display: none;

	&:checked + .fake-control_type_checkbox::after {
		content: url(icons/checkbox-checked.svg);

		@include media-mobile {
			content: url(icons/checkbox-checked-mb.svg);
		}
	}
}
