@import 'blocks/paragraph/paragraph';
@import 'utils/variables';
@import 'utils/media';

@mixin button {
	@include paragraph;

	padding: 15px 72.5px;
	background: $color-green-400;
	color: $color-white;
	border: none;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		background: $color-green-300;
	}

	&:active {
		background: $color-green-200;
	}

	@include media-mobile {
		padding: 12px 30px;
	}
}

.button {
	@include button;
}
