@import '@utilities/variables';
@import '@utilities/media';

@mixin link_inst {
	position: relative;

	&::before {
		content: url('icons/inst.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('icons/inst_mob.svg');
			left: -25px;
		}
	}
}

.link_inst {
	@include link_inst;
}
