@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.links {
    display: flex;
    column-gap: 25px;
    
    @include media-tablet {
        column-gap: 15px;
    }

    @include media-mobile {
        flex-wrap: wrap;
        justify-content: center;
    }
}
