@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.fake-control {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;

    @include media-mobile {
        width: 20px;
        height: 20px;
    }

    &::after {
        content: '';
    }
}
