@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.todo__input {
    width: 100%;
    height: 68px;
	
    @include media-mobile {
        height: 54px;
        padding: 10px;
    }
}
