@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.button_type_secondary {
	background: $color-green-100;
	color: $color-green-400;

	&:hover {
		background: $color-gray-100;
	}

	&:active {
		background: $color-gray-200;
	}
}
