@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.tab__item {
    position: relative;
    display: flex;
    height: 34px;
	cursor: pointer;

    &:not(.tab__item_active):hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $color-black;

        @include media-mobile {
            bottom: 0;
        }
    }

    @include media-mobile {
        height: 23px;
    }
}
