@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.hidden {
	opacity: 0;
	pointer-events: none;

	@include media-laptop {
		display: none;
	}
}
