@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.todo__task-number {
	min-width: 122px;

	@include media-laptop {
		display: flex;
		order: 1;
		min-width: auto;
	}

	@include media-tablet {
		display: none;
	}
}
