@import '@utilities/variables';
@import '@utilities/media';
@import '@utilities/mixins';

.todo__task-number {
	min-width: 122px;

	@include media-laptop {
		display: flex;
		order: 1;
		min-width: auto;
	}

	@include media-tablet {
		display: none;
	}
}
