@import '@blocks/paragraph/_size/paragraph_size_big';
@import '@utilities/variables';
@import '@utilities/media';

.tab__content {
	@include paragraph_size_big;
	height: 28px;
	padding: 0;
	color: inherit;
	background: none;
	font-family: Roboto;
	border: none;
	cursor: pointer;
	pointer-events: none;

	@include media-mobile {
		height: 23px;
	}
}
