@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.input_type_textarea {
    display: flex;
    flex-direction: column;
    resize: none;
}
