@mixin media-laptop {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: 680px) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: 360px) {
        @content;
    }
}