$container-width-desktop: 700px;
$container-width-laptop: 700px;

$color-white: #fff;
$color-black: #1B1F2B;
$color-orange-100: #F8E6BE;
$color-orange-200: #EFA501;
$color-green-100: #E0F0E5;
$color-green-200: #627F7E;
$color-green-300: #3B7E7B;
$color-green-400: #286562;
$color-gray-100: #F1F3F2;
$color-gray-200: #D9DFDB;
$color-gray-300: #A6A6A6;
$color-beige-100: #F9F7F4;
$color-beige-200: #F4F0E9;
