@import 'src/scss/blocks/title/title';
@import 'src/scss/blocks/title/_size/title_size_3';
@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.todo-title {
	@include title;
	@include title_size_3;
    display: flex;
	align-items: baseline;
    gap: 8px;
}
