@import 'utils/variables';
@import 'utils/media';

.checkbox {
	display: flex;
	align-items: center;
	column-gap: 19px;
	cursor: pointer;

	@include media-laptop {
		column-gap: 11px;
	}

	@include media-mobile {
		column-gap: 10px;
	}
}
