@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.footer__links {
	display: flex;
	column-gap: calc(25px + 36px);

	@include media-mobile {
		column-gap: calc(15px + 25px);
		margin-right: -25px;
	}
}
