@import 'utils/variables';
@import 'utils/media';

@mixin paragraph {
	font-size: 20px;
	font-weight: 400;
	line-height: 28.4px;

	@include media-mobile {
		font-size: 16px;
		line-height: 22.72px;
	}
}

.paragraph {
	@include paragraph;

	@include media-mobile {
		word-wrap: break-word;
	}
}
