@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.todo__item {
	position: relative;
    margin-top: 18px;

    &:first-child {
        margin-top: 0;
    }
}
