@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.dropdown__item {
    width: 100%;
    margin-top: 12px;

    &:first-child {
        margin-top: 0;
    }
}
