@import '@utilities/variables';
@import '@utilities/media';

@mixin title {
	font-size: 96px;
	font-weight: 700;
	line-height: 104.64px;
	letter-spacing: 0.02em;

	@include media-mobile {
		font-size: 34px;
		line-height: 38.08px;
	}
}

.title {
	@include title;
}
