@import '@blocks/link/link';
@import '@utilities/variables';
@import '@utilities/media';
@import '@blocks/link/_active/link_active_blue';

.footer__link {
	@include link;
	display: inline-block;
	color: $color-white;

	&:hover::after {
		background: $color-white;
	}

	@include link_active_blue;
}
