@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.cta-small__content {
    max-width: 371px;

    @include media-tablet {
        width: 100%;
        text-align: center;
    }
}
