@import 'utils/variables';
@import 'utils/media';

@mixin paragraph_size_big {
	font-size: 23px;
	font-weight: 700;
	line-height: 28.06px;

	@include media-mobile {
		font-size: 16px;
		line-height: 22.72px;
	}
}

.paragraph_size_big {
	@include paragraph_size_big;
}
