@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.card__paragraph {
    max-width: 554px;
    margin-top: 37px;

    @include media-tablet {
        max-width: none;
        margin-top: 20px;
    }
}
