@import 'src/scss/utilities/variables';

.page {
    display: flex;
    flex-direction: column;
    height: 100%;

	font: normal 20px Roboto, Arial, sans-serif;
    background: $color-blue-50;
    color: $color-black;
}
