@import '@utilities/media';

.todo-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;

	@include media-laptop {
		padding: 0 12px;
		flex-direction: column;
		gap: 24px;
	}
}
