@import '@utilities/variables';
@import '@utilities/media';

.main {
	display: flex;
	flex-direction: column;
	row-gap: 135px;
	flex: 1 0 auto;
	width: 100%;

	@include media-mobile {
		row-gap: 75px;
	}
}
