@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.checkbox {
    display: flex;
    align-items: center;
    column-gap: 19px;
    cursor: pointer;
    
    @include media-laptop {
        column-gap: 11px;        
    }

    @include media-mobile {
        column-gap: 10px;
        align-items: start;
    }
}
