@import 'blocks/title/title';
@import 'blocks/title/_size/title_size_3';

.todo-title {
	@include title;
	@include title_size_3;

	display: flex;
	align-items: baseline;
	gap: 8px;
	margin-bottom: 12px;
}
