@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.container_full-screen {
	max-width: 100%;
    padding: 0 30px;
    padding-right: 16px;
    margin-left: -8px;

    @include media-laptop {
        margin: 0;
        padding: 0 20px;
    }
    
    @include media-tablet {
        padding: 0 21px;
    }
}
