@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.more-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-mobile {
        align-items: flex-end;
    }
}
