@import '@utilities/variables';
@import '@utilities/media';

@mixin link_vk {
	position: relative;

	&::before {
		content: url('icons/vk.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('icons/vk_mob.svg');
			left: -25px;
		}
	}
}

.link_vk {
	@include link_vk;
}
