@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.button {
    @include paragraph;
    padding: 15px 72.5px;
    background: $color-green-400;
    color: $color-white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: $color-green-300;
    }

    &:active {
        background: $color-green-200;
    }
}
