@import '@utilities/variables';
@import '@utilities/media';
@import '@utilities/mixins';

.fake-control_type_radio {
	border: 2px solid $color-black;
	border-radius: 50px;

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: 12px;
		background: $color-black;
		border-radius: 50px;
		opacity: 0;

		@include media-mobile {
			width: 9.23px;
			height: 9.23px;
		}
	}
}
