@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.cta-small {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    @include media-small-notebook {
        flex-direction: column;
    }

    @include media-tablet {
        text-align: center;
    }
}
