@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.heading {
    @include Roboto;
    font-size: 96px;
    font-weight: 700;
    color: $color-white;
    
    @include media-mobile {
        word-break: break-word;
    }
}
