@import '@utilities/variables';
@import '@utilities/media';

.container {
	max-width: calc($container-width-desktop + 20px * 2);
	padding: 0 20px;
	margin: 0 auto;

	@include media-tablet {
		max-width: none;
		padding: 0 21px;
	}
}
