@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';


.todo-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;

	@include media-laptop {
		padding: 0px 12px;
		flex-direction: column;
    	gap: 24px;
	}
}


.todo__item_completed .fake-control,
.todo__item_completed .task__text {
	opacity: .35;
	text-decoration: line-through;
}
