@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.link_color_black {
    color: $color-black;

    &:hover::after {
        background: $color-black;
    }
}
