@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.card-storie {
	height: 567px;
	padding: 60px;
	   
	&::before {
		background: linear-gradient(270deg,transparent .01%,rgba(0,0,0,.2) 100%);
	}

    @include media-tablet {
        height: auto;
        padding: 40px;
    }

    @include media-mobile {
        height: 455px;
        padding: 30px;
    }
}