@import '@utilities/variables';
@import '@utilities/media';
@import '@utilities/mixins';

.todo-task {
	position: relative;
	display: flex;
	column-gap: 20px;
	margin-top: 9px;
	padding: 12px;
	border: 1px solid $color-gray-50;
	border-radius: 14px;
	cursor: pointer;
	user-select: none;

	&:first-child {
		margin-top: 0;
	}

	&:nth-child(2n) {
		background: $color-gray-40;
	}

	&:hover .todo-task__remove-btn {
		display: block;
	}
}
