@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.cta__paragraph {
	max-width: 562px;
	margin: 0 auto;
	margin-top: 50px;

	@include media-laptop {
		max-width: 442px;	
	}

	@include media-mobile {
		max-width: 304px;
		margin-top: 40px;
	}
}
