@import '@scss/reset';
@import '@scss/global';
@import '@utilities/media';
@import '@utilities/mixins';
@import '@utilities/variables';

@import '@blocks/page/page';
@import '@blocks/page/__header/page__header';
@import '@blocks/page/__footer/page__footer';

@import '@blocks/main/main';
@import '@blocks/main/__todo/main__todo';

@import '@blocks/button/button';
@import '@blocks/button/_small/button_small';

@import '@blocks/checkbox/checkbox';

@import '@blocks/input/input';
@import '@blocks/checkbox/__input/checkbox__input';

@import '@blocks/clear-completed/clear-completed';

@import '@blocks/container/container';
@import '@blocks/container/_size/container_size_1168';

@import '@blocks/fake-control/fake-control';
@import '@blocks/fake-control/_type/fake-control_type_checkbox';

@import '@blocks/hidden/hidden';

@import '@blocks/link/link';
@import '@blocks/link/_active/link_active_blue';
@import '@blocks/link/_vk/link_vk';
@import '@blocks/link/_fb/link_fb';
@import '@blocks/link/_inst/link_inst';

@import '@blocks/login/login';
@import '@blocks/login/__item/login__item';

@import '@blocks/empty-state/empty-state';
@import '@blocks/empty-state/__image/empty-state__image';
@import '@blocks/empty-state/__text/empty-state__text';

@import '@blocks/paragraph/paragraph';
@import '@blocks/paragraph/_size/paragraph_size_sm';
@import '@blocks/paragraph/_size/paragraph_size_big';

@import '@blocks/counter/counter';

@import '@blocks/filter/filter';
@import '@blocks/filter/__item/filter__item';
@import '@blocks/filter/__item/_active/filter__item_active';
@import '@blocks/filter/__content/filter__content';

@import '@blocks/title/title';
@import '@blocks/title/_size/title_size_2';
@import '@blocks/title/_size/title_size_3';

@import '@blocks/todo/todo';
@import '@blocks/todo/__input/todo__input';
@import '@blocks/todo/__input-wrapper/todo__input-wrapper';
@import '@blocks/todo/__input-wrapper/__icon/todo__input-wrapper__icon';
@import '@blocks/todo/__input-wrapper/_icon_shown/todo__input-wrapper_icon_shown';

@import '@blocks/todo-title/todo-title';

@import '@blocks/todo-content/todo-content';
@import '@blocks/todo-content/__wrapper/todo-content__wrapper';

@import '@blocks/todo-task/todo-task';
@import '@blocks/todo-task/_completed/todo-task_completed';
@import '@blocks/todo-task/__remove-btn/todo-task__remove-btn';
@import '@blocks/todo-task/__checkbox/todo-task__checkbox';

@import '@blocks/header/header';
@import '@blocks/header/__nav/header__nav';
@import '@blocks/header/__logo/header__logo';
@import '@blocks/header/__links/header__links';

@import '@blocks/footer/footer';
@import '@blocks/footer/__our-socials/footer__our-socials';
@import '@blocks/footer/__paragraph/footer__paragraph';
@import '@blocks/footer/__socials/footer__socials';
@import '@blocks/footer/__links/footer__links';
@import '@blocks/footer/__link/footer__link';

@import '@blocks/todo-footer/todo-footer';
@import '@blocks/todo-footer/__filter/todo-footer__filter';
