@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

button {
    font-family: inherit;
    cursor: pointer;
}

.btn-small {
    @include pSmall;

    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

.btn-small:hover {
    background: $color-orange-200;
    color: $color-white;
}

.btn-small:active {
    background: $color-orange-100;
    color: $color-black;
}

.btn-large {
    @include pNormal;
    padding: 15px 70.5px;
    border: none;
    background: $color-green-400;
    color: $color-white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: $color-green-300;
    }

    &:active {
        background: $color-green-200;
    }

    @include media-tablet {
        padding: 12px 0;
        width: 100%;
    }

    @include media-mobile {
        padding: 12px 0;
        width: 100%;
    }

    &_secondary {
        background: $color-green-100;
        color: $color-green-400;

        &:hover {
            background: $color-gray-100;
        }

        &:active {
            background: $color-gray-200;
        }
    }
}

.btn-more {
    @include pBig;
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background: none;
    color: $color-white;

    &::after {
        content: '';
        display: inline-flex;
        width: 24px;
        height: 26px;
        align-items: center;
        background: url('icons/arrow bt.svg');
    }

    &:hover {
        background: $color-green-400;
    }

    &:active {
        background: $color-orange-200;
    }
}

.link {
    @include pNormal;
    color: $color-white;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: $color-orange-200;
    }
}