@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

.form {
    padding: 30px;
    background: $color-white;
    border-radius: 30px;

    @include media-laptop {
        padding: 60px;
    }

    @include media-tablet {
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 30px;
    }

    @include media-mobile {
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 30px;
    }
}

.form__row {
    display: flex;
    column-gap: 30px;
    margin-top: 33px;

    @include media-laptop {
        column-gap: 20px;

        &.btn__row {
            column-gap: 30px;
        }
    }

    @include media-tablet {
        margin-top: 30px;

        flex-direction: column;
        row-gap: 30px;
    }

    @include media-mobile {
        margin-top: 30px;

        flex-direction: column;
        row-gap: 30px;
    }

    &:first-child {
        margin-top: 0;
    }
}

.form__field {
    position: relative;
    width: 100%;
}

@mixin input {
    @include pNormal;
    width: 100%;
    height: 68px;
    padding: 20px;
    background: $color-beige-100;
    border: 1px solid $color-beige-200;
    border-radius: 10px;

    &:hover {
        background: $color-beige-200;
        cursor: pointer;
    }

    &:focus {
        border-color: $color-gray-300;
        outline: none;
    }

    &::placeholder {
        color: $color-gray-300;
    }

    @include media-mobile {
        height: 43px;
        padding: 10px;
    }
}

.form__input {
    @include input;
}

.form__textarea {
    display: flex;
    flex-direction: column;
    min-height: 152px;
    resize: none;

    @include media-mobile {
        min-height: 132px;
    }
}

.form__label {
    @include pNormal;
    width: 100%;
    margin-bottom: 8px;
    display: block;
}


/* Dropdown */

.dropdow {
    position: relative;
}

.dropdown__content {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: visible;
    max-height: 300px;
    padding: 12px;
    background: $color-white;
    box-shadow: 8px 8px 24px $color-gray-200;
    transition: all .3s ease;
}

.dropdown__item {
    @include input;
    width: 100%;
    margin-top: 12px;

    &:first-child {
        margin-top: 0;
    }
}

.form__wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        display: inline-flex;

        width: 24px;
        height: 26px;
        align-items: center;
        background: url('icons/ic-dropdown.svg');
        pointer-events: none;

        @include media-mobile {
            right: 10px;
        }
    }
}


/* Radio */

.radio {
    display: flex;
    align-items: center;
    column-gap: 11px;
    cursor: pointer;

    @include media-mobile {
        column-gap: 10px;
    }
}

.radio__input {
    display: none;

    &:checked + .radio__fake::after {
        opacity: 1;
    }
}

.fake__control {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;

    @include media-mobile {
        width: 20px;
        height: 20px;
    }

    &::after {
        content: '';
    }
}

.radio__fake {
    border-radius: 50px;
    border: 2px solid $color-black;

    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background: $color-black;
        border-radius: 50px;
        opacity: 0;

        @include media-mobile {
            width: 9.23px;
            height: 9.23px;
        }
    }
}

.radio__label {
    @include pNormal;
}


/* Checkbox */

.checkbox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 19px;
    cursor: pointer;
    
    @include media-laptop {
        column-gap: 11px;        
    }

    @include media-mobile {
        column-gap: 10px;
        align-items: start;
    }
}

.checkbox__input {
    display: none;
    pointer-events: none;
    
    &:checked + .checkbox__fake::after {
        content: url(../../icons/checkbox-checked.svg);

        @include media-mobile {
            content: url(../../icons/checkbox-checked-mb.svg);
        }
    }
}

.checkbox__fake {
    &::after {
        content: url(../../icons/checkbox.svg);

        @include media-mobile {
            content: url(../../icons/checkbox-mb.svg);
        }
    }
}

.checkbox__label {
    @include pSmall;
}