@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

section {
    padding-top: 135px !important;

    @include media-mobile {
        padding-top: 75px !important;
    }
}

.section__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    
    @include media-mobile {
        padding-bottom: 50px;
    }
}

.section__text {
    @include pNormal;
    margin-top: 30px;
    color: $color-gray-300;

    @include media-mobile {
        width: 100%;
        margin-top: 20px;
    }
}