@import 'utils/variables';
@import 'utils/media';

.filter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;

	@include media-tablet {
		column-gap: 10px;
	}
}
