@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.card-review__bottom {
	bottom: 0;
	left: 0;

    @include media-mobile {
        margin-top: 40px;
    }
}
