@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.heading_size_3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 42.7px;

    @include media-mobile {
        font-size: 23px;
        font-weight: 700;
        line-height: 27.6px;
        letter-spacing: .04em;
    }
}
