@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.form__dropdown {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    max-height: 300px;
    overflow: hidden;
    overflow-y: visible;
}
