@import '@utilities/variables';
@import '@utilities/media';
@import '@utilities/mixins';

.todo-content__wrapper {
	height: 358px;
	max-height: 358px;
	min-height: 180px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: $color-white;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 100px $color-white;
	}

	&:hover::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 100px #c4c6cd;
	}
}
